# Build artifacts
.local/
target/
build/
dist/

# IDE files
.idea/
.vscode/
.pi/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Git
.git/
.gitignore
.env.build

# Testing & Pipelines
tests/
pipelines/

# Documentation & Metadata
docs/
README.md
ROADMAP.md
CHANGELOG.md
LICENSE
CONTRIBUTING.md
.github/
.pre-commit-config.yaml
.cz.toml
.editorconfig


# Uncommitted Certificates
certs/zscaler.crt
