# Runtime configuration for run-local.sh
CONTAINER_NAME=fuseki-dev
FUSEKI_PORT=3030
FUSEKI_DATA_VOLUME=fuseki-data-dev
FUSEKI_CONFIG_VOLUME=/path/to/folder/with/configuration/files
REQUIRE_LUCENE=true
