# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/
.pi/
*.swp
*.swo

# Env file
.env
.env.build

# Build / Local
.local/
target/
build/
dist/
.env.run
.manage-container-test.state

# Certificates
certs/zscaler.crt
